/* The Modal (background) */
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 16px;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 32px;
    margin-top: 48px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
}


.modal-types {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 8px;
}

.modal-type {
    color: #fff;
    padding: .25rem 1rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
}

.modal-name {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 8px;
    font-size: 3rem;
}

.modal-pokemon-id {
    display: flex;
    align-items: center;
    color: #fff;
}

.modal-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-photo img {
    width: 24%;
    position: relative;
    bottom: -56px;
}

.modal-data {
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
}

.modal-stat {
    text-transform: uppercase;

}

.modal-ability {
    text-transform: capitalize;
}