/* The Modal (background) */
.modal {
    display: none;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    border-radius: 40px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 32px;
    margin-top: 40px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
    gap: 4rem;
}


.modal-types {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 8px;
}

.modal-type {
    color: #fff;
    padding: .25rem 1rem;
    margin: .25rem 0;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
}

.modal-name {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 8px;
    font-size: 3rem;
}

.modal-pokemon-id {
    display: flex;
    align-items: center;
    color: #fff;
}

.modal-photo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-photo img {
    width: 33%;
    position: relative;
    top: 16px;
}

.modal-data {
    background-color: #fff;
    border-radius: 40px;
    padding: 32px;
}

.modal-stat {
    text-transform: uppercase;
    color: #585858;

}

.modal-ability {
    color: #585858;
    text-transform: capitalize;
}

.modal-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust the margin as needed */
}

.modal-info-table {
    width: 33%;
    border-collapse: collapse;
    margin-top: 20px; /* Adjust the margin as needed */
}

.modal-info-name {
    color: #585858;
}

.modal-stat-value {
    text-align: right;
}

td {
    padding: 8px 0;
    text-align: left;
}


@media (max-width: 767px) {
    .modal-content {
        width: 100%;
        border-radius: 0;
    }

    .modal-data {
        border-radius: 40px 40px 0 0;
    }

    .info {
        gap: 2rem
    }
}
